extends ../layout
block content   
    form.container.rezervacija
        h1=autobus.broj_redova
        .row
            h1.text-center="Rezervacija mesta "+cenovnik.pocetna_destinacija.ime+"-"+cenovnik.krajnja_destinacija.ime
            -var polazak=dodajMinuteNaVreme(cenovnik.red_voznje.vreme_polaska,cenovnik.red_voznje.stanice[0].broj_minuta_od_pocetka);
            -var dolazak=dodajMinuteNaVreme(cenovnik.red_voznje.vreme_polaska,cenovnik.red_voznje.stanice[1].broj_minuta_od_pocetka)
            h3.text-center=datum_polaska+" "+polazak+"-"+dolazak
            h2.col-12
                | 1. Izaberite sedište 
                span.izabrano 0
                | /
                span.ukupno=broj_putnika
            .autobus-prikaz(data-polazak_id=polazak.id)
                .sedista
                    -var br_reda=0
                    while ++br_reda<autobus.broj_redova
                        -var br_reda_str=br_reda<10 ? '0'+br_reda:br_reda
                        .red
                            -var sediste_u_redu=1
                            .levo
                                span#br_reda=br_reda_str
                                |&nbsp;&nbsp;
                                while (sediste_u_redu)<=autobus.broj_sedista_levo
                                    button.sediste.rezervisano(type='button' data-red=br_reda data-poz=sediste_u_redu++ disabled='')
                            .desno
                                while sediste_u_redu<=autobus.broj_sedista_desno+autobus.broj_sedista_levo
                                    button.sediste.slobodno(type='button' data-red=br_reda data-poz=sediste_u_redu++)
                
                    .zadnji-red
                        span#br_reda=br_reda
                        |&nbsp;&nbsp;
                        -sediste_u_redu=0
                        while sediste_u_redu++<autobus.broj_sedista_u_zadnjem_redu
                            button.sediste.slobodno(type='button' data-red=br_reda data-poz=sediste_u_redu)
                        
        if povratno                
            .col-3
                label.form-label(for='datum_povratka') Datum povratka
                input#datum_povratka.form-control.datum_povratka(type='date' name='datum_povratka' data-red_voznje_id=red_voznje_id data-pocetna_destinacija_id=pocetna_destinacija_povratnog_id data-krajnja_destinacija_id=krajnja_destinacija_povratnog_id value=danasnji_datum data-prevoznik_id=cenovnik.red_voznje.prevoznik_id)
                label.form-label(for='vreme_povratka') Vreme povratka
                select#vreme_povratka.form-control.vreme_povratka(name='vreme_povratka' data-broj_putnika=broj_putnika)
                div#vreme_poruka
            #povratno-autobus
