extends ../layout
block content
    -var tip_putovanja=povratno?'povratno':'jedansmer'
    form.container.rezervacija(action='/rezervacija/kreiraj/'+tip_putovanja method='POST')
        .row
            h1.text-center="Rezervacija mesta "+cenovnik.pocetna_destinacija.ime+"-"+cenovnik.krajnja_destinacija.ime
            -var polazak=dodajMinuteNaVreme(cenovnik.red_voznje.vreme_polaska,cenovnik.red_voznje.stanice[0].broj_minuta_od_pocetka);
            -var dolazak=dodajMinuteNaVreme(cenovnik.red_voznje.vreme_polaska,cenovnik.red_voznje.stanice[1].broj_minuta_od_pocetka)
            h3.text-center=datum_polaska_srpski_format+" "+polazak+"-"+dolazak
        .alert.alert-warning.istice-poruka
        .placanje 
            h2 Da li plaćate karte odmah?
            input(type='radio' name="placanje" class='placanje' value='1')
            |Da
            br
            input(type='radio' name="placanje"  class='placanje' value='0' checked)
            |Ne
            .placanje-podaci.col-3 
                .form-group
                    label(for='ime_na_kartici') Ime na kartici
                    input#broj_sedista_levo.form-control(type='text' name='ime_na_kartici')
                br
                .form-group
                    label(for='broj_kartice') Broj kartice
                    input#broj_sedista_levo.form-control(type='text' name='broj_kartice')
                br
                .form-group
                    label(for='CVC') CVC
                    input#broj_sedista_levo.form-control(type='text' name='CVC')
                br
                .form-group
                    label(for='vreme_isteka') Važi do
                    input#broj_sedista_levo.form-control(type='text' name='vreme_isteka')
                br
        div#autobus_jedansmer.autobus-wrapper(data-broj_putnika=broj_putnika data-red_voznje_id=cenovnik.red_voznje_id data-datum_polaska=datum_polaska data-vreme_polaska=cenovnik.red_voznje.vreme_polaska data-pocetna_destinacija_id=cenovnik.pocetna_destinacija.id data-krajnja_destinacija_id=cenovnik.krajnja_destinacija.id data-vreme_polaska_sa_prve_stanice=vreme_polaska_sa_prve_stanice)           
        if povratno                
            .col-3
                label.form-label(for='datum_povratka') Datum povratka
                input#datum_povratka.form-control.datum_povratka(type='date' name='datum_povratka' data-red_voznje_id=red_voznje_id data-pocetna_destinacija_id=pocetna_destinacija_povratnog_id data-krajnja_destinacija_id=krajnja_destinacija_povratnog_id value=danasnji_datum data-prevoznik_id=cenovnik.red_voznje.prevoznik_id)
                label.form-label(for='vreme_povratka') Vreme povratka
                select#vreme_povratka.form-control.vreme_povratka(name='vreme_povratka' data-broj_putnika=broj_putnika)
                div#vreme_poruka()
            div#povratno-autobus.autobus-wrapper
        br
        .alert.alert-danger.zabranjena-poruka
            |Vreme za rezervaciju je isteklo.Možete ponovo započeti rezervaciju osvežavanjem stranice.
        button#submit-btn.btn.btn-primary(type='submit') Rezerviši
