extends ../layout
block content
    .container
        .row 
            each rezervisano_sediste in rezervisana_sedista 
                .col-3 
                    strong Relacija&nbsp;
                    =rezervisano_sediste.rezervacija.pocetna_destinacija.ime+'-'+rezervisano_sediste.rezervacija.krajnja_destinacija.ime
                    br
                    strong Broj karte&nbsp; 
                    =rezervisano_sediste.id
                    br
                    strong Šifra rezervacije&nbsp;
                    =rezervisano_sediste.sifra_karte
                    br
                    strong Vreme polaska&nbsp; 
                    =vreme_polaska
                    br
                    strong Red&nbsp;
                    =rezervisano_sediste.red
                    br
                    strong Mesto u redu&nbsp;
                    =rezervisano_sediste.mesto_u_redu
                    br
                    strong Ocitana&nbsp;
                        if rezervisano_sediste.ocitana==0
                            span.badge.bg-success Ne
                        else
                            span.badge.bg-danger Da
                    br
                    strong Platio&nbsp;
                        if rezervisano_sediste.rezervacija.platio==0
                            span.badge.bg-success Ne
                        else
                            span.badge.bg-danger Da
                    br
                    br
                    a(href=`http://10.14.32.237:5000/rezervacija/prikazi/${rezervisano_sediste.id}/${rezervisano_sediste.sifra_karte}`)
                        img(src=`https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=${encodeURIComponent(`http://10.14.32.237:5000/rezervacija/prikazi/${rezervisano_sediste.id}/${rezervisano_sediste.sifra_karte}`)}`)

